#topic{
  padding: 25px;
  text-align: center;
  background: skyblue;
  color:rgb(37,12,95);
  border: 2px solid rgb(37, 12, 95)
}

#empty{
  padding: 5px;
  border: 1px thin white;
  background: white;
  color: white;
}
#video{
  margin:  0 auto; 
  text-align: center;
  color:rgb(37, 12, 95) ;
  padding: 50px ;
  background:skyblue;
  border: 2px solid rgb(37, 12, 95);
}
.btn{
  background-color:dodgerblue;
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px;
  cursor: pointer; 
  display: inline-block;
  text-align: center;
  
}
#but{
  text-align: center;
}
.btn:hover{
  background-color: royalblue;
}