p{
    font-family:"Courier New",'Courier New', Courier, monospace ; 
}
body{
    
    background-attachment: fixed;
    background-color: Lightblue;
}
h1 {
   color:red;
   font-size: 30pt;
   text-shadow:5px 2px 4px grey;
}

body{
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
